.header {
  display: flex;
  height: 80px;
  padding-left: 50px;
}

.heading {
  font-size: 21px;
  padding-left: 7px;
  margin-top: auto;
  text-transform: uppercase;
  text-decoration: underline;
}
